.search-bar {
    height: 40px;
    position: relative;
}

.search-bar input {
    height: 100%;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: var(--body-color);
    padding: 0 35px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 50%;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 14px;
}

.search-bar input::placeholder {
    color: var(--main-light-color);
}

.msg {
    padding: 30px;
    background-color: var(--unselected-message);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    transition: 0.4s ease;
}

.msg_body {
    height: calc(100vh - 130px) !important;
}

.msg_body:nth-child(1) {
    background-color: var(--unselected-message);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
    height: 100%;
    overflow-x: hidden;
}

.tst {
    height: calc(100vh - 100px);
}

.selected-bg {
    background-color: var(--theme-bg-color);
}

.anim-y {
    animation: slideUp .6s both;
}

@keyframes slideUp {
    0% {
        transform: translateY(76px) scale(.92);
        opacity: 0;
    }
}

.message-seen-handle-checkbox {
    display: none;
}

.message-seen-handle-checkbox+label:before {
    content: "";
    display: flex;
    width: 14px;
    height: 14px;
    border: 1px solid var(--main-light-color);
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.3s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}



.message-seen-handle-checkbox:checked+label:before {
    border-color: green;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}

.docs_message svg {
    background-color: var(--button-bg-color);
    color: var(--primary-color);
    padding: 4px;
    border-radius: 4px;
}

.download-delete-docs {
    position: relative;
    display: none;
}

.docs_message:hover .download-delete-docs {
    position: absolute;
    right: 200px;
    display: flex;
}

@media (max-width: 640px) {
    .docs_message:hover .download-delete-docs {
        position: absolute;
        right: 20px;
        display: flex;
    }
}

.recordingStartMessage {
    animation: type .5s alternate infinite;
}

@keyframes type {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

audio:hover,
audio:focus,
audio:active {
    /* -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4); */
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}


audio {
    padding: 10px;
    margin: 16px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}