@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: black;
  --background-body: #F5F5F5;
  --hover-div: #ECE6E1;
  --hover-link: #ED9243;
  --primary-color: blue;
  --primary-bg-foreground-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-body: black;
  }

  * {
    background-color: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background-body);
}

.box_shadow {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.bg-primary {
  background-color: var(--primary-color);
  color: var(--primary-bg-foreground-color);
}

.btn {
  padding: 16px;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:active:focus {
  transform: scale(0.99);
}