.loading__bar {
    position: relative;
    height: 4px;
    /* width: 12rem; */
    /* background-color: rgb(169, 169, 169); */
    background-color: var(--primary-color);
    border-radius: 4px;
    overflow: hidden;
}

.loading__bar::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 50%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.891);
    background: linear-gradient(90deg, #fff5, rgba(230, 230, 230, 0.891));
    animation: loading-animation 1400ms infinite cubic-bezier(0.4, 0.0, 0.2, 1);
    border-radius: 1em;
    animation-delay: 700ms;
}

@keyframes loading-animation {
    0% {
        left: -50%;
    }

    100% {
        left: 150%;
    }
}